// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// $green: #1edd88;
// $white: white;
// $green_hover: #1bcb7f

// .btn-flat {
//   color: $white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: $green;

//   &:hover {
//     background: $green_hover;
//     color: $white;
//   }
// }

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88;
  transition: #1edd88 0.3s ease;

  &:hover {
    background: #1bcb7f;
    color: white;
  }
}
